parameters:
    database_driver: mysql
    database_host: localhost
    database_port: null
    database_name: insales_php_app
    database_user: dbuser
    database_password: dbpass

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null

    locale: en
    secret: INSERT_SOME_RANDOM_STRING_HERE

    api_secret: api_secret
    api_key:    api_key
    api_host:   insales-php-app.local
    api_autologin_path: autologin
    api_key: insales_api_key

    ga_tracking: UA-XXXXXXX-2
    application_name: 'Название приложения'
